@charset "utf-8";
@import "node_modules/bulma/sass/utilities/_all.sass";
@import url("https://fonts.googleapis.com/css?family=Nunito:400,700");
@import url("https://fonts.googleapis.com/css?family=Montserrat:400,700");
@import url("https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css");

// Set your colors -------------------------------------------------
$primary: #2c9880;
$secondary: $primary;
$info: #ccc;

$primary-light: findLightColor($primary);
$primary-dark: findDarkColor($primary);
$primary-invert: findColorInvert($primary);

$body-background: whitesmoke;
$body-background-color: #0cc;
$control-border-width: 2px;
$input-border-color: transparent;
$input-shadow: none;

$custom-colors: null !default;
$custom-shades: null !default;
// -----------------------------------------------------------------

$colors: mergeColorMaps(
  (
    "white": (
      $white,
      $black,
    ),
    "black": (
      $black,
      $white,
    ),
    "light": (
      $light,
      $light-invert,
    ),
    "dark": (
      $dark,
      $dark-invert,
    ),
    "primary": (
      $primary,
      $primary-invert,
      $primary-light,
      $primary-dark,
    ),
    "link": (
      $link,
      $link-invert,
      $link-light,
      $link-dark,
    ),
    "info": (
      $info,
      $info-invert,
      $info-light,
      $info-dark,
    ),
    "success": (
      $success,
      $success-invert,
      $success-light,
      $success-dark,
    ),
    "warning": (
      $warning,
      $warning-invert,
      $warning-light,
      $warning-dark,
    ),
    "danger": (
      $danger,
      $danger-invert,
      $danger-light,
      $danger-dark,
    ),
  ),
  $custom-colors
);

// Links
$link: $primary;
$link-invert: $primary-invert;
$link-focus-border: $primary;

@import "node_modules/bulma/sass/base/_all.sass";
@import "node_modules/bulma/sass/layout/_all.sass";
@import "node_modules/bulma/sass/grid/_all.sass";
@import "node_modules/bulma/sass/components/_all.sass";
@import "node_modules/bulma/sass/elements/_all.sass";
@import "node_modules/bulma/sass/form/_all.sass";
@import "node_modules/bulma/sass/helpers/_all.sass";
@import "node_modules/bulma-prefers-dark/bulma-prefers-dark.sass";
