

  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>Bulma template</title>
    <link type="text/css" rel="stylesheet" href="css/mystyles.css" />
    <link rel="icon" type="image/x-icon" href="img/esenses-icon.ico">
    <script async type="text/javascript" src="/js/bulma.js"></script>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"
      integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
    <style type="text/css">
    html,
    body {
      font-size: 15px;
      font-weight: 400;
      line-height: 1.5;
      height: 100vh;
    }
    
    .hero {
      background: url(img/banner1.jpg) no-repeat center fixed !important;
      background-size: cover;
    }
    
    .tabs ul {
      border-bottom-style: none;
      border-bottom-width: 0px;
    }
    
    .tabs a {
      border-bottom-color: #fff;
      border-bottom-style: none;
      border-bottom-width: 0px;
    }
    
    .topspace {
      margin-top: 10%;
    }
    </style>
  </head>
