<div class="hero-head">
  <nav class="navbar">
    <div class="container">
      <div class="navbar-brand">
        <a class="navbar-item" href="../">
          <img src="/img/bulma.png" alt="Logo" />
        </a>
        <span class="navbar-burger burger" data-target="navbarMenu">
          <span></span>
          <span></span>
          <span></span>
        </span>
      </div>
      <div id="navbarMenu" class="navbar-menu">
        <div class="navbar-end">
          <div class="tabs is-right">
            <ul>
              <li><a href="/">Home</a></li>
              <li><a href="/about">About</a></li>
              <li><a href="#">Team</a></li>
              <li><a href="#">Help</a></li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </nav>
</div>

<script>
  function setNavigation() {
    let current_location = location.pathname.split('/')[1]
    if (current_location == '') {
      current_location = 'home'
    }

    let menu_items = document
      .querySelector('header')
      .getElementsByClassName('navbar-menu')[0]
      .getElementsByTagName('li')

    for (let i = 0, len = menu_items.length; i < len; i++) {
      if (
        menu_items[i].getElementsByTagName('a')[0].innerText.toLowerCase() ===
        current_location
      ) {
        menu_items[i].className = 'is-active'
      }
    }
  }
  setNavigation()
</script>
