<!DOCTYPE html>
<html>
  <head>
    <%- include('../partials/head'); %>
  </head>

  <body id="body" style="display: none">
    <section class="hero is-fullheight is-default is-bold">
      <header><%- include('../partials/header'); %></header>

      <div class="hero-body">
        <div class="container has-text-centered">
          <div class="columns is-vcentered">
            <div class="column is-5">
              <figure class="image is-4by3">
                <img id="pic" alt="Description" />
              </figure>
            </div>
            <div class="column is-6 is-offset-1">
              <h1 class="title is-2">Superhero Scaffolding</h1>
              <h2 class="subtitle is-4">
                Let this cover page describe a product or service.
              </h2>
              <br />
              <p class="has-text-centered">
                <a class="button is-medium is-info is-outlined"> Learn more </a>
              </p>
              <br />
              <button class="button is-orange">Orange</button>
            </div>
          </div>
        </div>
      </div>

      <header><%- include('../partials/footer'); %></header>
    </section>
    <script src="../js/bulma.js"></script>
  </body>
</html>

<script type="text/javascript">
  window.onload = enableBody

  var myPix = new Array(
    'pic1.jpeg',
    'pic2.jpeg',
    'pic3.jpeg',
    'pic4.jpeg',
    'pic5.jpeg',
    'pic6.jpeg'
  )

  function enableBody() {
    randomNum = Math.floor(Math.random() * myPix.length)
    document.getElementById('pic').src = '/img/' + myPix[randomNum]

    const pic = document.getElementById('body')
    pic.removeAttribute('style')
  }
</script>
